/*
Different shades of brown that I use:
    #292524 (Base)
    #443e3c (Macro Base)
    #625a58 (Neutral)
    #756c69 (Highlight)

Whites:
    #FFFFFF
    #F3F3F3 (Accent)

Positive/Negative:
    #57bb8a (Green)
    #e67c73 (Red)

Political:
    #006391 (Democrat Blue)
    #E24A38 (Republican Red)

OTT Yellow:
    #FCBA04

Fonts (from Substack):
    Classic Serif (Text) - Googling reveals this is either Georgia or Spectral
    Inconsolata (Headings)
*/

  html {
    scrollbar-width: 4px;
    scrollbar-color: #f3f3f3, #ffffff;
  }

  body {
    background-color: #292524;
    color: #ffffff;
    font-family: Georgia;
    font-size: 16px;
    margin: 0px;
    text-align: center;
  }

  #header {
    border-bottom: 0.5px solid #443e3c;
    padding-top: 2px;
    text-align: center;
    font-size: 12px;
  }

  #content {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0px;
  }

  #logo {
    background-color: #ffffff;
    border-radius: 20%;
    height: 40px;
    width: 40px;
    margin: 15px 25px;
    padding: 0px;
    position: absolute;
    float: left;
  }

  a {
    color: #FCBA04;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
  
  /* normiemeter logo */
  h1, h1 a, h1 a:hover {
    font-family: "Inconsolata";    
    color: #ffffff;
    text-decoration: none;
    font-size: 34px;
    margin-left: -30px;
    margin-right: -30px;
  }

  /* wordmark */
  h2, h2 a, h2 a:hover {
    font-family: "Inconsolata";    
    color: #ffffff;
    text-decoration: none;
    font-size: 29px;
  }

  /* the big one */
  .button {
    font-family: Georgia;
    text-align: center;
    display: inline-block;
    color: #ffffff;
    background-color: #FCBA04;
    border-radius: 5px;
    width: 230px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 4px;
    border: none;
    font-size: 24px;
  }

  /* the small one */
  .button2 {
    font-family: Georgia;
    text-align: center;
    display: inline-block;
    color: #ffffff;
    background-color: #FCBA04;
    border-radius: 5px;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 4px;
    border: none;
    font-size: 18px;
  }

  .button:hover, .button2:hover {
    text-decoration: none;
    background-color: #e3a703;
    cursor: pointer;
  }

  #proposal {
    margin-top: 10px;
    border: solid 1px #f3f3f3;
    border-radius: 4px;
  }

  #lefttake {
    margin-left: 5%;
    margin-top: 15px;
    border: solid 1px #f3f3f3;
    border-radius: 4px;
    float: left;
    width: 40%;
    animation: slideInLeft 3s ease-in-out forwards;
    animation-fill-mode: forwards; 
  }
  
  #righttake {
    margin-right: 5%;
    margin-top: 30px;
    border: solid 1px #f3f3f3;
    border-radius: 4px;
    float: right;
    width: 40%;
    animation: slideInRight, fadeIn 3s ease-in-out forwards;
    animation-fill-mode: forwards; 
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(-300%); 
    }
    to {
      transform: translateX(0%); 
    }
  }

  @keyframes slideInRight {
    from {
      transform: translateX(445%); 
    }
    to {
      transform: translateX(0%); 
    }
  }

  @font-face {
    font-family: "Inconsolata";
    src: url(../fonts/Inconsolata.ttf) format(truetype);
  }
