/*
Different shades of brown that I use:
    #292524 (Base)
    #443e3c (Macro Base)
    #625a58 (Neutral)
    #756c69 (Highlight)

Whites:
    #FFFFFF
    #F3F3F3 (Accent)

Positive/Negative:
    #57bb8a (Green)
    #e67c73 (Red)

Political:
    #006391 (Democrat Blue)
    #E24A38 (Republican Red)

OTT Yellow:
    #FCBA04

Fonts (from Substack):
    Classic Serif (Text) - Googling reveals this is either Georgia or Spectral
    Inconsolata (Headings)
*/

  body {
    background-color: #292524;
    color: #ffffff;
    /* font-family: "Georgia"; */
    font-family: "Inconsolata";
    font-size: 16px;
    margin: 0px;
    text-align: center;
    margin-bottom: 15px;
  }

  #header {
    border-bottom: 0.5px solid #443e3c;
    text-align: center;
    display: block;
  }

  #header img {
     width: 40px;
     height: 40px;
  }

  #content {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0px;
    position: relative;
    display: block;
  }

  #logo {
    position: absolute;
    background-color: #ffffff;
    border-radius: 24%;
    top: 15px;
    left: 25px;
    width: 40px;
    height: 40px;
  }

  /* stand-in for social media share button */
  #share {
    position: absolute;
    top: 15px;
    right: 25px;
    margin-left: 10px;
  }

  a {
    color: #FCBA04;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
  
  /* wordmark */
  h1, h1 a, h1 a:hover {
    font-family: "Inconsolata";    
    color: #ffffff;
    font-size: 29px;
    text-decoration: none;
  }

  /* policy titles */
  h2, h2 a, h2 a:hover {
    font-family: "Inconsolata";    
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
  }

  /* result title */
  h3 {
    font-family: "Inconsolata";    
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
    text-align: left;
  }

  /* name for the result */
  h3 b {
    animation: fadeIn 2s;
  }

  /* normiemeter logo */
  #normielogo img {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
  }

  #normielogo2 img {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 32px;
    width: auto;
    text-align: center;
    position: relative;
    margin: 0 auto;
  }

  #intro {
    margin-left: 150px;
    margin-right: 150px;
    text-align: justify;
  }

  /* the big one */
  .button {
    /* font-family: "Georgia"; */
    text-align: center;
    display: inline-block;
    color: #ffffff;
    background-color: #FCBA04;
    border-radius: 5px;
    width: 230px;
    margin-top: 15px;
    padding: 4px;
    border: none;
    font-size: 24px;
    vertical-align: middle;
  }

  /* the small one for big quiz */
  .button2 {
    /* font-family: "Georgia"; */
    text-align: center;
    display: inline-block;
    color: #ffffff;
    background-color: #443e3c;
    border-radius: 5px;
    width: 230px;
    padding: 4px;
    border: 2px solid #FCBA04;
    font-size: 16px;
    vertical-align: bottom;

    margin-top: 15px;
  }

  .button:hover {
    text-decoration: none;
    background-color: #e3a703;
    cursor: pointer;
  }
  
  .button2:hover {
    text-decoration: none;
    background-color: #292524;
    border-color: #e3a703;
    cursor: pointer;
  }

  #question {
    overflow-x: hidden; 
    overflow-y: auto; 
    max-height: 350px;
    padding-bottom: 8px;
  }

  #proposal {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border: solid 1px #756c69;
    border-radius: 4px;
    background-color: #443e3c;
    overflow-wrap: break-word;
    text-align: center;
    margin-left:20%;
    margin-right: 20%;
    animation: fadeIn 4s;
  }

  #lefttake {
    display: flex;
    margin-top: 15px;
    border: solid 1px #756c69;
    border-radius: 4px;
    float: left;
    width: 48%;
    animation: slideInLeft 2s, fadeIn 4s;
    padding-left: 3px;
    background-color: #443e3c;
    display: block;
    margin-bottom: 30px;
    overflow-wrap: break-word;
    text-align: left;
  }
  
  #righttake {
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    border: solid 1px #756c69;
    border-radius: 4px;
    float: right;
    width: 48%;
    animation: slideInRight 3s, fadeIn 6s;
    padding-right: 3px;
    background-color: #443e3c;
    display: block;
    overflow-wrap: break-word;
    text-align: right;
    margin-bottom: 15px;
  }

  #proposal p, #lefttake p, #righttake p {
    margin-top: 5px;
    margin-bottom: 2px;
    padding: 3px 3px 3px 3px;
  }

  .dem {
    display: flex;
    background-color: #006391;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 3px;
    width: fit-content;
    margin-right: auto;
    margin-bottom: 0px;
    padding: 2px;
  }

  .rep {
    display: flex;
    flex-direction: column; 
    background-color: #E24A38;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin: 3px;
    width: fit-content;
    margin-left: auto;
    margin-bottom: 0px;
    padding: 2px;
  }

  .sup {
    display: flex;
    flex-direction: column; 
    background-color: #39A071;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 3px;
    width: fit-content;
    margin-right: auto;
    margin-bottom: 0px;
    padding: 2px;
  }

  .opp {
    display: flex;
    flex-direction: column; 
    background-color: #e4524d;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin: 3px;
    width: fit-content;
    margin-left: auto;
    margin-bottom: 0px;
    padding: 2px;
  }

  #quizControls {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #292524;
    height: 125px;
    margin-top: 0px;
    opacity: 0;
    animation: fadeIn 2s 3s forwards;
} 

  #resultDesc {
    display: flex;
    flex-direction: column;
    float: left;
    width: 450px;
    margin-right: 50px;
    padding: 5px;
    border: solid 1px #756c69;
    border-radius: 4px;
    background-color: #443e3c;
    overflow-wrap: break-word;
    text-align: left;
    opacity: 0;
    animation: fadeIn 4s 1s forwards;
    position: relative;
    margin-bottom: 10px;
  }

  #throbber {
    display: flex;
    width: 275px;
    height: 275px;
    position: absolute;
    opacity: 0;
    animation: fadeIn 4s 1.5s forwards;
    margin-left: 50px;
    margin-bottom: 10px;
  }
  

  .rectangle {
    width: 30px;
    height: 65px;
    border-radius: 6px;
    position: absolute;
    background-color: #FCBA04;
    left: 50%;
    top: 50%;
    transform: 
      translate(-50%, -50%)
      rotate(calc(var(--i) * 30deg))
      translate(80px)
      rotate(calc(var(--i) * -30deg))
      rotate(var(--angle, 0deg));
  }

  .rectangle:nth-child(1)  { --i: 0; --angle: 90deg;}
  .rectangle:nth-child(2)  { --i: 1; --angle: 120deg;}
  .rectangle:nth-child(3)  { --i: 2; --angle: 150deg;}
  .rectangle:nth-child(4)  { --i: 3; --angle: 180deg;}
  .rectangle:nth-child(5)  { --i: 4; --angle: 210deg;}
  .rectangle:nth-child(6)  { --i: 5; --angle: 240deg;}
  .rectangle:nth-child(7)  { --i: 6; --angle: 270deg;}
  .rectangle:nth-child(8)  { --i: 7; --angle: 300deg;}
  .rectangle:nth-child(9)  { --i: 8; --angle: 330deg;}
  .rectangle:nth-child(10) { --i: 9; --angle: 360deg;}
  .rectangle:nth-child(11) { --i: 10; --angle: 390deg;}
  .rectangle:nth-child(12) { --i: 11; --angle: 410deg;}

  #throbber::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 135px;
    height: 135px;
    background-color: #292524;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  #percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: "Inconsolata";
    font-size: 50px;
    z-index: 1;
  }

  #result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    color: white;
    font-size: 20px;
    font-family: "Inconsolata";
    font-size: 32px;
    z-index: 1;
  }
  
  #resultsContainer {
    clear: both;
    padding-top: 4px;
  }

  #resultWrap {
    margin-bottom: 10px;
  }

  table {
    width: 100%;
    padding: 0px;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(-300%); 
    }
    to {
      transform: translateX(0%); 
    }
  }

  @keyframes slideInRight {
    from {
      transform: translateX(1200%);
    }
    to {
      transform: translateX(0%); 
    }
  }

  /* mobile support */
  @media (max-width: 820px) {
    *, *::before, *::after { box-sizing: border-box; }

    #content {
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 0px;
      position: relative;
      height: 325;
    }

    #normielogo img {
      display: block;
      flex-direction: column;
      float: none;
      max-width: 100%;
    }

    #proposal, #lefttake, #righttake {
      flex-direction: column;
      float: none;
      width: 100%;
      margin: 0 auto 12px auto; 
      padding: 8px;
    }

    #resultWrap {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #throbber {
      order: -1;
      position: static;
      margin: 20px auto 20px auto;
      width: 200px;
      height: 200px;
      display: block; 
      animation: fadeIn 4s 1s forwards;
    }

    #resultDesc {
      order: 0;
      float: none;
      width: 100%;
      margin: 0 auto 12px auto;
      animation: fadeIn 4s 1.5s forwards;
    }

    h3 {
      flex-direction: column;
      order: -2;
    }

    .rectangle {
    left: 50%;
    top: 15%;
    }

    #throbber::after {
      left: 50%;
      top: 15%;
    }

    #percentage, #result {
      left: 50%;
      top: 15%;
      transform: translate(-50%, -50%);
    }

    #percentage {
      transform: translate(-50%, -90%);
    }

    #result {
      transform: translate(-50%, -10%);
    }

    #resultWrap {
      margin-bottom: -15px;
    }
      
    .button, .button2 {
      max-width: 100%;
    }

    #header {
      display: flex;
      align-items: center;
      height: 44px;
      justify-content: center;
      line-height: 32px; 
      border: none;
      padding-top: 12px;
    }

    #header h1 {
      font-size: 20px;
      display: inline-block;
    }

    #header h1 img {
      width: 100%;
      height: 30px;
    }

    #header img {
      width: 32px;
      height: 32px;
      margin: 0 auto;
    }

    #logo, #share {
      margin: 0 auto;
      width: 32px;
      height: 32px;
      top: 12px;
    }
    
    #logo {
      left: 17px;
    }

    #share {
      right: 17px;
    }

    #intro {
      margin-left: 0px;
      margin-right: 0px;
      text-align: justify;
      margin-bottom: 3px;
    }

    #quizControls {
      position: fixed;
      bottom: 0;
      height: fit-content;
      opacity: 0;
      animation: fadeIn 2s 3s forwards;
    } 

    #question {
      overflow-x: hidden;  
      max-height: fit-content;
      margin-bottom: 110px;
      overflow-y: scroll;
    }   
  }

  @font-face {
    font-family: "Inconsolata";
    src: url(../fonts/Inconsolata.ttf) format(truetype);
  }

  @font-face {
    font-family: "Georgia";
    src: url(../fonts/Georgia.ttf) format(truetype);
  }

